/*
* Section for specifying the style of native HTML tags
*/
body {
  background-image: url('background-photo-hearts-1-612x612.jpg');
 }
h1 {
  font-size: 40px;
  font-family: 'Kaushan Script';
  background-color: red;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
}
p{
  font-size: 30px;
  background-color: lightblue;
  font-family: 'Dancing Script';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
}
